*.err
/README.html
/haskell/*.hi
/c/piecemeal
/c/piecemeal.t
/c/snprintf
/c/snprintf.t
/c/strlcat
/c/strlcat.t
/c/tblrot
/c/tblrot.t
/c/tblrot2
/c/tblrot2.t
/c/ternaries
/c/ternaries.t
/c/trivial
/c/trivial.t
/cpp/fun
/cpp/fun.t
/cpp/irange
/cpp/irange.t
/cpp/trivial
/cpp/trivial.t
/cpp/tts
/cpp/tts.t
/execline/trivial
/execline/trivial.t
/haskell/trivial
/haskell/trivial.t
/nimcache/
/nim/nimcache/
/nim/trivial
/nim/trivial.t
/perl5/trivial
/perl5/trivial.t
/perl6/given
/perl6/given.t
/perl6/trivial
/perl6/trivial.t
/python/trivial
/python/trivial.t
/ruby/case
/ruby/case.t
/ruby/monkey
/ruby/monkey.t
/ruby/trivial
/ruby/trivial.t
/zsh/patmat
/zsh/patmat.t
/zsh/trivial
/zsh/trivial.t
